<!doctype html>
<html class="no-js">

<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/Metro-UI-CSS/css/metro-bootstrap.css" />
    <link rel="stylesheet" href="bower_components/Metro-UI-CSS/css/metro-bootstrap-responsive.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/iconFont.min.css">
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
</head>

<body ng-app="vtoneWorldcomApp" class="metro">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->

    <nav class="navbar navigation-bar dark navbar-fixed-top">
        <nav class="navigation-bar-content" ng-controller="TopMenuCtrl">
            <div class="element">
                <a class="dropdown-toggle" href="#">简明供应链管理</a>
                <ul class="dropdown-menu dark" data-role="dropdown">
                    <li><a href="#">Main</a>
                    </li>
                    <li><a href="#">File Open</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="#">Print...</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="#">Exit</a>
                    </li>
                </ul>
            </div>

            <span class="element-divider"></span>
            <a class="element brand" href="#"><span class="icon-home"></span></a>
            <span class="element-divider"></span>

            <li ng-repeat="menu in TopMenuData" ng-class="{element: menu.items != 'null'}">
                <a href="#" data-toggle="dropdown" ng-class="{'dropdown-toggle': menu.items != 'null','element brand':menu.items == 'null'}">{{menu.menuName}}</a>
                <ul class="dropdown-menu dark TopMenu" data-role="dropdown" data-effect='fade'>
                    <li ng-repeat="submenu in menu.items"><a href="#">{{submenu.menuName}}</a>
                    </li>
                </ul>
            </li>

            <div class="element place-right">
                <a class="dropdown-toggle" href="#">
                    <span class="icon-cog"></span>
                </a>
                <ul class="dropdown-menu place-right dark" data-role="dropdown">
                    <li><a href="#">Products</a>
                    </li>
                    <li><a href="#">Download</a>
                    </li>
                    <li><a href="#">Support</a>
                    </li>
                    <li><a href="#">Buy Now</a>
                    </li>
                </ul>
            </div>






            <span class="element-divider place-right"></span>
            <a class="element place-right" href="#"><span class="icon-locked-2"></span></a>


            <a class="element place-right" href="#"><span class="icon-spin"></span></a>
            <a class="element place-right" href="#"><span class="icon-printer"></span></a>

            <span class="element-divider place-right"></span>

            <button class="element image-button image-left place-right icon-user"> Sergey Pimenov</button>

        </nav>
    </nav>
    <div class="accordion span3 place-left margin5" data-role="accordion" id="sidebar">
        <div class="accordion-frame">
            <a class="heading bg-lightBlue fg-white" href="#"><i class="icon-rocket"></i> 异常订单</a>
            <div class="content" style="display: block;">
                <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.</p>
            </div>
        </div>
        <div class="accordion-frame">
            <a class="heading bg-lightBlue fg-white collapsed" href="#"><i class="icon-cog"></i> Item #2</a>
            <div class="content" style="display: none;">
                <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut.</p>
            </div>
        </div>
        <div class="accordion-frame">
            <a class="heading bg-lightBlue fg-white collapsed" href="#"><i class="icon-cart"></i> Item #3</a>
            <div class="content" style="display: none;">
                <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut.</p>
                <button class="primary">Activate the account</button>
            </div>
        </div>
    </div>


    <div id="super_nav" class="markers square">
        <div class="button-set" data-role="button-group">
            <button onclick="javascript:moveMainCarouse(0)" class="active">首页</button>
            <button onclick="javascript:moveMainCarouse(1)">One</button>
            <button onclick="javascript:moveMainCarouse(2)">Two</button>
            <button onclick="javascript:moveMainCarouse(3)">Three</button>
            <button onclick="javascript:moveMainCarouse(4)">Four</button>
            <button onclick="javascript:moveMainCarouse(5)">Five</button>
        </div>
    </div>

    <div id="main">
        <div class="carousel" data-role="carousel" data-interval="false" id="main_carouse">
            <div class="slide">
                <div class="panel" data-role="panel">
                    <div class="panel-header bg-lightBlue fg-white">
                        条件选择
                    </div>
                    <div class="panel-content" style="display: block;">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    </div>
                </div>
                <div class="panel" data-role="panel">
                    <div class="panel-header bg-lightBlue fg-white">
                        查询结果
                    </div>
                    <div class="panel-content" style="display: block;">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    </div>
                </div>
                <div class="panel" data-role="panel">
                    <div class="panel-header bg-lightBlue fg-white">
                        明细信息
                    </div>
                    <div class="panel-content" style="display: block;">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    </div>
                </div>
            </div>

            <div class="slide">
                2
            </div>
            <div class="slide">
                3
            </div>
            <div class="slide">
                4
            </div>
            <div class="slide">
                5
            </div>
            <div class="slide">
                6
            </div>
        </div>
    </div>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
    <script>
    (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function() {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'http://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-XXXXX-X');
    ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/oldieshim.js -->
    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <![endif]-->
    <!-- endbuild -->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/jquery-ui/jquery-ui.js"></script>
    <script src="bower_components/Metro-UI-CSS/min/metro.min.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/controllers/about.js"></script>
    <!-- endbuild -->
</body>

</html>
