<!doctype html>
<html class="no-js">

<head>
    <meta charset="utf-8">
    <title>SE200 - 简单高效的应链管理平台</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/Metro-UI-CSS/css/metro-bootstrap.css" />
    <link rel="stylesheet" href="bower_components/Metro-UI-CSS/css/metro-bootstrap-responsive.css" />
    <link rel="stylesheet" href="bower_components/Metro-UI-CSS/min/iconFont.min.css" />
    <link rel="stylesheet" href="bower_components/angular-chart.js/dist/angular-chart.css" />
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
</head>

<body ng-app="vtoneWorldcomApp" class="metro" ng-controller="MainCtrl">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->

    <nav class="navbar navigation-bar dark navbar-fixed-top">
        <nav class="navigation-bar-content" ng-controller="TopMenuCtrl">
            <div class="element">
                <a class="dropdown-toggle" href="#">SE200供应链</a>
                <ul class="dropdown-menu dark" data-role="dropdown">
                    <li>
                        <a class="input-control checkbox" href="#">
                            <label>
                                <input type="checkbox" ng-click="changeSiderBarSetting()" />
                                <span class="check"></span> 左边菜单设定
                            </label>
                        </a>
                    </li>
                    <li><a href="#"><i class="fa fa-camera-retro fa-lg"></i> File Open</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="#">Print...</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="#">Exit</a>
                    </li>
                </ul>
            </div>

            <span class="element-divider"></span>
            <a class="element brand" href="#"><span class="icon-home"></span></a>
            <span class="element-divider"></span>

            <li ng-repeat="menu in TopMenuData" ng-class="{element: menu.items != 'null' || submenu.items.length==0}" style="font-weight:bold;">
                <a href="#" data-toggle="dropdown" ng-class="{'dropdown-toggle': menu.items != 'null','element brand':menu.items == 'null'}">{{menu.menuName}}</a>
                <ul class="dropdown-menu TopMenu" data-role="dropdown" data-effect='fade'>
                    <li ng-repeat="submenu in menu.items">
                        <a href="#" ng-if="submenu.items != 'null' && submenu.items.length>0" data-toggle="dropdown" class="dropdown-toggle">{{submenu.menuName}}</a>
                        <a href="#" ng-if="submenu.items == 'null' || submenu.items.length==0">{{submenu.menuName}}</a>
                        <ul ng-if="submenu.items != 'null' && submenu.items.length>0" class="dropdown-menu TopMenu" data-role="dropdown" data-effect='fade'>
                            <li ng-repeat="submenu2 in submenu.items">
                                <a href="#">{{submenu2.menuName}}</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>

            <div class="element place-right">
                <a class="dropdown-toggle" href="#">
                    <span class="icon-cog"></span>
                </a>
                <ul class="dropdown-menu place-right dark" data-role="dropdown">
                    <li><a href="#">Download</a>
                    </li>
                    <li><a href="#">Support</a>
                    </li>
                    <li><a href="#">Buy Now</a>
                    </li>
                </ul>
            </div>

            <span class="element-divider place-right"></span>
            <a class="element place-right" href="#"><span class="icon-locked-2"></span></a>


            <a class="element place-right" href="#"><span class="icon-spin"></span></a>
            <a class="element place-right" href="#"><span class="icon-printer"></span></a>

            <span class="element-divider place-right"></span>

            <button class="element image-button image-left place-right icon-user"> Sergey Pimenov</button>

        </nav>
    </nav>
    <div class="accordion span3 place-left margin5" data-role="accordion0" id="sidebar" data-closeany="{{sideBarSetting}}">
        <div ng-repeat="menu in SiderMenuData" class="accordion-frame">
            <span class="heading bg-lightBlue">
                <a class="fg-white" href="#" style="font-size:14px;font-weight:bold;" ng-click="TaskGroupClick(menu.name_en)"><i class="{{menu.icon}}"></i> {{menu.name}}</a>
                <a class="fg-white element place-right" href="#" ><i ng-class="TaskGroupData[menu.name_en].icon"></i> </a>
            </span>

            <div class="content" style="display: block;">
                <table width="100%" class="" style="font-size:14px;">
                    <tr ng-repeat="item in menu.items">
                        <td><i class="fa {{item.icon}} fa-fw"></i> {{item.name}}</td>
                        <td align="right">
                            <button>{{TaskGroupData[menu.name_en][$index]}}</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>


    <div id="super_nav" class="markers square">
        <div class="button-set" data-role="button-group">
            <button onclick="javascript:moveMainCarouse(0)" class="active">首页</button>
            <button onclick="javascript:moveMainCarouse(1)">One</button>
            <button onclick="javascript:moveMainCarouse(2)">Two</button>
            <button onclick="javascript:moveMainCarouse(3)">Three</button>
            <button onclick="javascript:moveMainCarouse(4)">Four</button>
            <button onclick="javascript:moveMainCarouse(5)">Five</button>
        </div>
    </div>

    <div id="main">
        <div class="carousel" data-role="carousel" data-auto="false" data-interval="false" id="main_carouse">

            <div class="slide">

                <div ng-repeat="item in MainMenuData" class="panel" data-role="panel">
                    <div class="panel-header bg-lightBlue fg-white">
                        {{item.name}} 99
                    </div>
                    <div class="panel-content" style="display: block;">
                        <div class="chart-container" style="width:400px;height:230px">
                            <canvas id="line" class="chart chart-line" data="item.data" labels="item.labels" legend="false">
                            </canvas>
                        </div>
                    </div>
                </div>
            </div>

            <div class="slide">
                2
            </div>
            <div class="slide">
                3
            </div>
            <div class="slide">
                4
            </div>
            <div class="slide">
                5
            </div>
            <div class="slide">
                6
            </div>
        </div>
    </div>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
    <script>
    (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function() {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'http://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-XXXXX-X');
    ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/oldieshim.js -->
    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <![endif]-->
    <!-- endbuild -->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/jquery-ui/jquery-ui.js"></script>
    <script src="bower_components/Metro-UI-CSS/min/metro.min.js"></script>
    <script src="bower_components/Chart.js/Chart.min.js"></script>
    <script src="bower_components/angular-chart.js/dist/angular-chart.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/controllers/about.js"></script>
    <!-- endbuild -->
</body>

</html>
