/* Space out content a bit */

.metro .grid {
  margin:0px;
}
.metro .grid .row{
  margin:0px;
}
.metro .grid .row [class*="span"] {
  margin:0px;
}

#sidebar{
  position:absolute;
  top:45px;
  width:200px;
  overflow:auto;
}
#main{
  position:absolute;
  top:82px;
  left:230px;
  overflow:auto;
}
#super_nav{
  position:absolute;
  height:30px;
  top:51px;
  left:230px;
}

.TopMenu{
  font-size:14px;
}
.TopMenu li,.TopMenu a {
  line-height: 20px;
  margin:0px;
  padding:0px;
}
.metro .panel .panel-header {
  font-size: 14px;
  line-height: 1.0rem;
}


.metro .accordion > .accordion-frame > .heading {
  display: block;
  text-decoration: none;
  background-color: #eeeeee;
  padding: 5px 15px;
  width: 100%;
  position: relative;
  color: #1d1d1d;
}
